     <!-- Mobile Footer Carousel -->
     <div class="footer__carousel">
      <div class="text-center my-3">
        <div id="recipeCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active">
              <div class="col-4 float-left footer__award__item">  <p>+RAR DIGITAL AWARDS <br>
                GRAND PRIX </p>
                <span><a href="#"> WINNERS 2016</a></span>
              </div>
              <div class="col-4 float-left footer__award__item">  <p>+RAR DIGITAL AWARDS <br>
                GRAND PRIX </p>
                <span><a href="#"> WINNERS 2016</a></span>
              </div>
              <div class="col-4 float-left footer__award__item">  <p>+RAR DIGITAL AWARDS <br>
                GRAND PRIX </p>
                <span><a href="#"> WINNERS 2016</a></span>
              </div>
            </div>
            <div class="carousel-item row no-gutters">
              <div class="col-4 float-left footer__award__item">  <p>+RAR DIGITAL AWARDS <br>
                GRAND PRIX </p>
                <span><a href="#"> WINNERS 2016</a></span>
              </div>
              <div class="col-4 float-left footer__award__item">  <p>+RAR DIGITAL AWARDS <br>
                GRAND PRIX </p>
                <span><a href="#"> WINNERS 2016</a></span>
              </div>
              <div class="col-4 float-left footer__award__item">  <p>+RAR DIGITAL AWARDS <br>
                GRAND PRIX </p>
                <span><a href="#"> WINNERS 2016</a></span>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>
    <!-- /Mobile Footer Carousel -->
