  <!-- Contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
        <app-happiness-indicator></app-happiness-indicator>
              </div>

            <!-- /Happiness Input -->

            <!-- Contact Form -->
            <div class="col-md-6">
              <app-contact-form></app-contact-form>
            </div>
            <!-- /Contact Form -->
          </div>
        </div>
      </section>
      <!-- /Contact -->
