  <!-- Blocks -->
  <section id="blocks">
    <div class="container">
      <!-- <div class="col-sm-6">
        <img src="http://placehold.it/650x400/2ecc71/fff" alt="" class="img-responsive center-block">
      </div> -->
      <div class="row">
        <div class="col-xs-3"><img src="http://placehold.it/300x205/3498db/fff" alt="" class="img-responsive"></div>
        <div class="col-xs-3"><img src="http://placehold.it/300x205/e74c3c/fff" alt="" class="img-responsive"></div>
        <div class="col-xs-3"><img src="http://placehold.it/300x205/f1c40f/fff" alt="" class="img-responsive"></div>
        <div class="col-xs-3"><img src="http://placehold.it/300x205/9b59b6/fff" alt="" class="img-responsive"></div>
      </div>
      <div class="row">
        <div class="col-xs-3"><img src="http://placehold.it/300x205/3498db/fff" alt="" class="img-responsive"></div>
        <div class="col-xs-3"><img src="http://placehold.it/300x205/e74c3c/fff" alt="" class="img-responsive"></div>
        <div class="col-xs-3"><img src="http://placehold.it/300x205/f1c40f/fff" alt="" class="img-responsive"></div>
        <div class="col-xs-3"><img src="http://placehold.it/300x205/9b59b6/fff" alt="" class="img-responsive"></div>
      </div>
    </div>
  </section>
  <!-- /Blocks -->
