<div class="col-sm-12 form__wrapper">
  <h3>Elegant Communication</h3>
  <form id="contact-form" action="/" method="post">
    <div class="form-group">
      <input type="text" class="form-control" id="fullname" placeholder="full name">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="email address *" required>
    </div>
    <div class="form-group">
      <input type="tel" class="form-control" id="phone" placeholder="contact number">
    </div>
    <div class="form-group">
      <select id="options" class="form-control" required>
        <option selected disabled value="">Choose...</option>
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
        <option value="Option 4">Option 4</option>
      </select>
    </div>
    <div class="submit__wrapper">
      <input type="submit" value="CONTACT ME" class="btn btn-primary">
    </div>
  </form>
</div>
