<!-- Nav -->
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="./img/brand-logo.png" alt="" class="img-fluid"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-dark"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">

        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">OUT WORK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OUR APPROACH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SECRET SAUCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">INSIGHT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CAREERS</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /Nav -->
