<footer class="social text-center">

  <div class="topfooter__wrapper">
    <!-- Social Icons -->
    <span class="social__svg__group">
      <span class="svg__linkedin">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <defs><style>.cls-1{fill:#ff0;}</style></defs>
          <title>Asset 16</title><g id="Layer_21" data-name="Layer 21"><g id="Layer_1-212" data-name="Layer 1">
            <path class="cls-1" d="M18.7,17.79H16.06V13.32c0-1.24-.5-1.9-1.41-1.9-1.08,0-1.57.75-1.57,1.9v4.47H10.51V9.27h2.57v1.16A2.93,2.93,0,0,1,15.64,9c1.82,0,3.06,1.08,3.06,3.39v5.38M7.45,8.19A1.62,1.62,0,0,1,5.88,6.62,1.57,1.57,0,0,1,7.45,5.05,1.62,1.62,0,0,1,9,6.62,1.57,1.57,0,0,1,7.45,8.19m1.32,9.6H6.12V9.27H8.77ZM12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0"/>
          </g></g>
        </svg>
      </span>

      <span class="svg__facebook">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <defs><style>.cls-1{fill:#ff0;}</style></defs>
          <title>Asset 15</title><g id="Layer_22" data-name="Layer 22"><g id="Layer_1-213" data-name="Layer 1">
            <path class="cls-1" d="M15.56,7H13.9c-.58,0-.74.25-.74.83V9.35h2.4l-.25,2.57H13.16V19.7H10.1V12H8.52V9.35H10.1V7.28c0-2,1.07-3,3.31-3h2.15V7ZM12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0"/>
          </g></g>
        </svg>
      </span>

      <span class="svg__twitter">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
          <defs><style>.cls-1{fill:#ff0;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#ff0;}</style>
            <clipPath id="clip-path"><rect class="cls-1" width="24" height="24"/></clipPath>
          </defs><title>Asset 13</title><g id="Layer_23" data-name="Layer 23"><g id="Layer_1-214" data-name="Layer 1"><g class="cls-2">
            <path class="cls-3" d="M18,9.93a7.89,7.89,0,0,1-7.94,8.28A8.47,8.47,0,0,1,5.79,17a5.71,5.71,0,0,0,4.14-1.16A2.68,2.68,0,0,1,7.37,13.9a2,2,0,0,0,1.24-.08,2.82,2.82,0,0,1-2.24-2.73,2.34,2.34,0,0,0,1.24.33A2.76,2.76,0,0,1,6.79,7.7a7.86,7.86,0,0,0,5.71,2.89A2.76,2.76,0,0,1,15.23,7.2a2.82,2.82,0,0,1,2.07.91A5.47,5.47,0,0,0,19,7.45,3.24,3.24,0,0,1,17.79,9a9.12,9.12,0,0,0,1.58-.41A10.38,10.38,0,0,1,18,9.93M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0"/>
          </g></g></g>
        </svg>
      </span>
    </span>
    <!-- /Social Icons -->
    <span class="footer__divider">|</span> <a href="mailto:hello@lab.co.uk"> hello@lab.co.uk</a> <span class="footer__divider">|</span>
    0207 183 6668
  </div>


  <!-- Desktop Footer -->
  <div class="container">
    <div class="footer__award__wrapper">
      <div class="footer__award">
        <div class="row">

          <div class="col-md-2 footer__award__item">
            <p>+RAR DIGITAL AWARDS <br>
              GRAND PRIX </p>
              <span><a href="#"> WINNERS 2016</a></span>
            </div>

            <div class="col-md-2 footer__award__item">
              <p>+RAR DIGITAL AWARDS <br>
                GRAND PRIX </p>
                <span><a href="#"> WINNERS 2016</a></span>
              </div>

              <div class="col-md-2 footer__award__item">
                <p>+RAR DIGITAL AWARDS <br>
                  GRAND PRIX </p>
                  <span><a href="#"> WINNERS 2016</a></span>
                </div>

                <div class="col-md-2 footer__award__item">
                  <p>+RAR DIGITAL AWARDS <br>
                    GRAND PRIX </p>
                    <span><a href="#"> WINNERS 2016</a></span>
                  </div>

                  <div class="col-md-2 footer__award__item">
                    <p>+RAR DIGITAL AWARDS <br>
                      GRAND PRIX </p>
                      <span><a href="#"> WINNERS 2016</a></span>
                    </div>

                    <div class="col-md-2 footer__award__item">
                      <p>+RAR DIGITAL AWARDS <br>
                        GRAND PRIX </p>
                        <span><a href="#"> WINNERS 2016</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <app-footer-carousel></app-footer-carousel>

              <!-- Copyright -->
              <div class="copyright text-center">
                <div class="copyright__wrapper">
                  <span>&copy; 2017 Copyright Lab Lateral. All Rights Reserved | Privacy & Cookies Policy</span>
                </div>

              </div>
              <!-- /Copyright -->

            </footer>
